:root {
    --primary-color: #007AFF; 
    --dark-grey: #404040;
    --black: #000;
    --main-font: 'SF Pro Display', sans-serif; 
    --font-size: 13px;
}

body { 
    width: 200px; 
    padding: 20px; 
    display: block;
    font-family: var(--main-font);
    font-size: var(--font-size);
    color: var(--dark-grey);
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.84);
    border-radius: 16px;
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
}

h1 {
    font-size: 16px;
    color: var(--black)
}

#description a {
    text-decoration: none;
    color: var(--primary-color);
}

button { 
    width: 150px; 
    cursor: pointer; 
    background: none;
    border: none;
}

#button-icon {
    width: 100%;
}

