/* root selector for project */

:root {
    --primary-color: #005D11; 
    --secondary-color: #c2c644;
    --tertiary-color: #fefef2;
    --white: #fcfcfc;
    --black: #202020; 
    --light-grey: #e6e6e6;
    --dark-grey: #404040;
    --font-main: 'ZTNature', Helvetica;

}

/* text */

@font-face {
    font-family: 'ZTNature'; 
    src: url('fonts/ZTNature-Regular.woff2') format('woff2');
    font-size: 16px;
}



* { 
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'ZTNature'; 
    background-color: var(--tertiary-color);
    color: var(--black);
    scroll-behavior: smooth;
}

li, a, button {
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
}

.logo {
    cursor: pointer;
    width: 100px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--primary-color);
    border-bottom: 10px solid red;
}

.cta button {
    padding: 10px 20px;
    color: var(--white);
    background: var(--primary-color);
    border: 1px solid color-mix(in srgb, var(--white), transparent 40%);
    box-shadow: 0 5px 10px color-mix(in srgb, var(--black), transparent 90%);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    scale: calc(1.01);
}


#main {
    margin: 0px 20%;
}

#hero {
    padding: 5% 0 0 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

#hero .iphone {
    height: 300px;
    background: none;
}

#hero h1 {
    font-size: 1.5rem;
    
}

#hero-desc {
    padding: 0 30px 0 0;
    
}

#hero-desc p, b {
    color: var(--dark-grey);
    background-color: none;
}

